<!DOCTYPE html>
<html lang="en" ng-app="portfolioApp" class="ng-cloak">

<head>
  <meta property='og:title' content="Alejandro Monroy Portfolio" />
  <meta property='og:image' content="https://d1nvj5nzyw0dpm.cloudfront.net/images/preview.png" />
  <meta property='og:description' content="Currently I am starting my second year as graduate student at USC. I am actively looking for Internship as software developer in Los Angeles, California. I am also looking for full time jobs beginning on June 2018."
  />
  <meta property='og:url' content="https://d1nvj5nzyw0dpm.cloudfront.net/">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--External CSS styles-->
  <link rel="stylesheet" href="styles.css" type="text/css">
  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <title>My portfolio</title>
</head>
<header>

  <body ng-controller="portfolioController">
    <nav class="navbar navbar-fixed-top myNavBar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapseBar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>
        <div class="collapse navbar-collapse" id="collapseBar">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="menuAnchor" href="#home">home</a></li>
            <li><a class="menuAnchor" href="#about">about</a></li>
            <li><a class="menuAnchor" href="#education">education</a></li>
            <li><a class="menuAnchor" href="#skills">skills</a></li>
            <li><a class="menuAnchor" href="#projects">projects</a></li>
            <li><a class="menuAnchor" href="#contact">contact</a></li>
            <!--<li><a class="menuAnchor" href="#">hobbies</a></li>-->
          </ul>
        </div>
      </div>
    </nav>
</header>

<section class="home" id="home">
  <div class="profile-image">
    <div class="profile-background">
      <div class="profile-data">
        <h1>Alejandro Monroy</h1>
        <h2> CS Master Student</h2>
        <h3>USC Trojan</h3>
        <hr>
        <ul>
          <a class="fa fa-linkedin fa-2x" aria-hidden="true" href="https://www.linkedin.com/in/alejandro-monroy-reyes-a40051125/" target="_blank"></a>
          <a class="fa fa-bitbucket fa-2x" aria-hidden="true" href="https://bitbucket.org/monroyrea/" target="_blank"></a>
          <a class="fa fa-facebook fa-2x" aria-hidden="true" href="https://www.facebook.com/alejandro.monroy.121" target="_blank"></a>
          <a class="fa fa-file fa-2x" aria-hidden="true" href="documents/resume.pdf" target="_blank"></a>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="row">
    <div class="jumbotron col-md-3 col-xs-12">
      <h1> About Me  <small><span class="glyphicon glyphicon-user"></span></small></h1>
    </div>
    <div class="col-md-9 col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <h2>Interests.</h2>
          <p>
            Currently, I am starting my second year as a graduate student at USC. I am actively looking for Internship as a software developer in Los Angeles, California. I am also looking for full-time jobs beginning in August 2018.
          </p>
        </div>
        <div class="col-xs-12 col-md-4">
          <h2>Experience.</h2>
          <p>
          I have experience using JAVA, C, C++ and web development using HTML, CSS, Bootstrap, Javascript, PHP and currently developing using AngularJS. Moreover, I have Profesional experience as inventory analyst and developer at Robert Bosch Mexico.
          </p>
        </div>
        <div class="col-xs-12 col-md-4">
          <h2>More about me.</h2>
          <p>Apart from school, I like playing soccer and weightlifting. I also enjoy watching Mexican soccer league, traveling, hiking and tasting new food.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="education">
  <div class="row">
    <div class="jumbotron col-md-3 col-xs-12">
      <h1> Education  <small><span class="glyphicon glyphicon-education"></span></small></h1>
    </div>
    <div class="col-md-9 col-xs-12">
      <div class="row">
        <div ng-repeat="school in education.school" class="col-md-6 schoolDiv">
          <h2>{{school.name}}</h2>
          <h3>{{school.dpt}}</h3>
          <h4>{{school.major}}</h4>
          <h5>{{school.location}}</h5>
          <h6>{{school.date}}</h6>
          <img ng-src="{{school.image}}" alt="University" class="img-circle">
          <h5 id="courseworkh5"><b>Coursework:</b></h5>
          <div ng-repeat="course in school.coursework" class="coursework">
            <h6 id="courseName">{{course.name}}</h6>
            <p id="courseContent"> {{course.content}}</p>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="skills">
  <div class="row">
    <div class="jumbotron col-md-3 col-xs-12">
      <h1> Skills  <small> <span class="glyphicon glyphicon-wrench"></small> </h1>
    </div>
    <div class="col-md-9 col-xs-12">
      <p class="mySkill"><b>Java, C, C++, OOP.</b></p>
      <p class="percentaje">70%</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
        </div>
      </div>
      <p class="mySkill"><b>HTML,CSS,Bootstrap,JS.</b></p>
      <p class="percentaje">70%</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
        </div>
    </div>
      <p class="mySkill"><b>Databases and SQL.</b></p>
      <p class="percentaje">65%</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
        </div>
    </div>
      <p class="mySkill"><b>PHP.</b></p>
      <p class="percentaje">50%</p>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
        </div>
    </div>
    <p class="mySkill"><b>Version control GIT.</b></p>
    <p class="percentaje">Proficient</p>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
      </div>
    </div>
  </div>
</section>

<section id="projects">
  <div class="row">
    <div class="jumbotron col-md-3 col-xs-12">
      <h1> Projects  <small><span class="glyphicon glyphicon-folder-open"></small> </h1>
    </div>
    <div class="col-md-9 col-xs-12">
      <div class="row">
         <div ng-click="showDetails(project)" data-toggle="modal" data-target="#myModal" ng-repeat="project in projects" >
           <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-image">
             <img ng-src="{{project.image}}"class="img-rounded img-responsive"></img>
             <p class="project-header">{{project.date}}<br>{{project.name}}</p>
          </div>
           <div class="clearfix visible-lg" ng-if="($index + 1) % 3 == 0"></div>
           <div class="clearfix visible-md" ng-if="($index + 1) % 3 == 0"></div>
           <div class="clearfix visible-sm" ng-if="($index + 1) % 2 == 0"></div>
        </div>
        </div>
      </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel"><b>{{currentProject.name}}</b> <small>| Date:{{currentProject.date}}</small></h3>
      </div>
      <div class="modal-body">
        <h4>{{currentProject.description}}</h4>
        <h5 class="text-danger"><b>{{currentProject.technologies}}</b></h5>
          <img ng-src="{{currentProject.descriptionimage}}" alt="" class="img-responsive center-block img-modal">
      </div>
      <div class="modal-footer">
        <h5 class="text-left"><b>Source code:</b> <a ng-bind="currentProject.sourceCode" href="{{currentProject.link}}" target="_blank"></a></h5>
        <div ng-if="currentProject.video">
          <h5 class="text-left"><b>Video:</b> <a ng-bind="currentProject.video" href="{{currentProject.videop}}" target="_blank"></a></h5>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<section id="contact">
  <div class="row">
    <div class="jumbotron col-md-3 col-xs-12">
      <h1> Contact Me <small><span class="glyphicon glyphicon-tag"></small></h1>
    </div>
    <div class="col-md-9 col-xs-12">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="jumbotron">
            <h3><b>Email</b>:<br> monroyre@usc.edu</h3>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="jumbotron">
            <h3><b>Phone</b>:<br> +1(323)747-0139</h3>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="jumbotron">
            <h3><b>Facebook</b>:<br> <a href="https://www.facebook.com/alejandro.monroy.121" target="_blank">alejandro.monroy.121</a></h3>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="jumbotron">
            <h3><b>Linkedin</b>:<br> <a href="https://www.linkedin.com/in/alejandro-monroy-reyes-a40051125/" target="_blank">alejandro-monroy-reyes-a40051125</a></h3>
          </div>
        </div>
        <div class="col-md-offset-3 col-md-3 col-xs-12">
          <div class="jumbotron">
            <h3><b>BitBucket</b>:<br> <a href="https://bitbucket.org/monroyrea/" target="_blank">monroyrea</a></h3>
          </div>
        </div>
        <div class=" col-md-3 col-xs-12">
          <div class="jumbotron">
            <h3><b>Download my Resume</b>:<br> <a href="documents/resume.pdf" target="_blank">My Resume</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<!-- External JS -->
<script src="angular.js"></script>
</body>

</html>
