html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.row {
  width: 90%;
  margin: 0 auto;
}

#collapseBar {
  border-bottom: 1px solid white;
}


/*Header and navbar */

header {
  position: fixed;
  z-index: 100;
}

.myNavBar {
  background-color: black;
}

header a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

header a:hover {
  text-decoration: none;
  color: black;
}

header a:hover::before {
  color: black;
}

header a:hover::after {
  color: black;
}

header span {
  background-color: white;
}

ul {
  list-style: none;
}


/*General Sections */

#about, #skills, #contact {
  background-color: #DFE2DB;
  padding: 20px 0px;
}

#about .jumbotron, #skills .jumbotron, #contact .jumbotron {
  background-color: #DFE2DB;
}

#projects, #education {
  margin-top: 20px
}


/*Home Section */

.home .profile-image {
  height: 700px;
  background-image: url("images/portfolio-profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: static;
  opacity: 2;
}

.home .profile-background {
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, .35);
}

.home .profile-data {
  position: absolute;
  top: 30%;
  right: 20%;
  color: white;
}

.home h1 {
  font-size: 40px;
  font-weight: bolder;
}

.home h2 {
  font-weight: bold;
  font-size: 30px;
}

.home h3 {
  font-weight: bold;
  font-size: 20px;
}

.home a {
  color: white;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}

.home a:hover {
  color: lightblue;
}

.jumbotron {
  padding: 0px;
  margin: 0px;
  background-color: white;
  vertical-align: middle;
}

.jumbotron h1 {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  color: #3b3a36;
  font-size: 48px;
}


/*About Me */

#about h2 {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin: 10px;
  color: #3b3a36;
}

#about p {
  text-align: justify;
  font-size: 18px;
}


/*Education*/

#education img {
  height: 100px;
  width: 100px;
}

.schoolDiv {
  text-align: center;
  margin-bottom: 10px;
}

.coursework {
  text-align: left;
}

#courseworkh5 {
  text-align: left;
  font-size: 18px;
}

#courseName {
  text-align: left;
  font-size: 16px;
}

#courseContent {
  text-align: left;
  font-size: 14px;
}


/*SKills*/

.mySkill {
  display: inline;
  font-size: 16px;
}

.percentaje {
  font-size: 16px;
  position: absolute;
  display: inline;
  right: 15px;
}


/*Projects*/

.project-image {
  position: relative;
  height: : 100px;
  margin-bottom: 20px;
}

.project-image:hover {
  cursor: pointer;
}

.project-header {
  width: 80%;
  position: absolute;
  bottom: 0;
  color: white;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}


/* details pop up windows*/

.details {
  border: 2px solid black;
  z-index: 200;
  background-color: #DFE2DB;
  position: fixed;
  padding: 25px;
  top: 15%;
  right: 15%;
  bottom: 15%;
  left: 15%;
  border-radius: 20px;
  overflow: auto;
}

.img-modal {
  max-height: 500px;
}


/*Media query for profile-image */

@media screen and (max-width: 576px) {
  .home .profile-image {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: static;
    opacity: 2;
  }
  .home .profile-data {
    position: absolute;
    top: 400px;
    right: 0%;
    color: white;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
